########################################
# ARQUIVOS SENSÍVEIS (NÃO ENVIAR)
########################################

login.php

criar_admin.php
.env


########################################
# DEPENDÊNCIAS E PASTAS GRANDES
########################################

vendor/
node_modules/
uploads/
cache/
tmp/
logs/


########################################
# ARQUIVOS DO SISTEMA OPERACIONAL
########################################

.DS_Store
Thumbs.db


########################################
# ARQUIVOS GERADOS AUTOMATICAMENTE
########################################

*.log
*.cache
*.tmp
